{% extends "layout.twig" %}


{% block content %}
    <h1>Dashboard</h1>
    <ul>
    <li><a href="/PHPCourse/">Home</a></li>
        <li><a href="/PHPCourse/users/add">Add User</a></li>
        <li><a href="/PHPCourse/jobs/add">Add Job</a></li>
        <li><a href="/PHPCourse/project/add">Add Project</a></li>
    </ul>
    <br>
    <a href="/PHPCourse/logout">Logout</a>
{% endblock %}